<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Perfil</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/public/css/index.css">
    <!-- <link rel="stylesheet" href="public/CSS/estilos.css"> -->
</head>
<body>
    <main class="profile-container grid-container">
        <nav class="grid-item-nav">
            <div class="nav-user p-1em flex-container">
                <img src="/public/img/avatar.svg" alt="Image user profile">
                <span class="fw-600">Eladio Rocha</span>
            </div>
            <div class="nav-options p-1em flex-container">
                <p class="mb-1em pt-1em">Pedir un viaje</p>
                <p class="mb-1em txt-selected pt-1em">Viajes</p>
                <p class="mb-1em pt-1em">Mi cuenta</p>
                <p class="close-session">
                    <hr class="hr mb-1em">
                    <p class="txt-gray">Cerrar sesión</p>
                </p>
            </div>
        </nav>
        <section class="grid-item-profile">
            <div class="profile-title pt-2em px-1em history-navbar">
                <span class="fw-600 mr-2em history-navbar-text txt-selected">Comunidad</span>
                <span class="fw-600 mr-2em history-navbar-text">Activos</span>
                <span class="fw-600 mr-2em history-navbar-text">Reservados</span>
                <span class="fw-600 mr-2em history-navbar-text">Finalizados</span>
            </div>
            <div class="profile-title p-1em flex-container">
                <h2 id="history-title">Viajes proximos de la comunidad</h2>
            </div>
            <!-- <div class="profile-options p-1em grid-container"> -->
                <!-- -- ><div class="bg-default-container flex-container">
                    <div class="bg-default-history mb-2em"></div>
                    <h2>Aún no tienes viajes hechos <span id="start-now">¡Empieza haciendo uno!</span></h2>
                </div> -->
                <!-- card -->
                <div id="community-cards">

                </div>
            </section>
        </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js"></script>
    <script src="/public/js/utilities.js"></script>
    <script src="/public/js/history.js"></script>
</body>
</html>
