<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Perfil</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/public/css/index.css">
    <!-- <link rel="stylesheet" href="public/CSS/estilos.css"> -->
</head>
<body>
    <main class="profile-container grid-container">
        <nav class="grid-item-nav">
            <div class="nav-user p-1em flex-container">
                <img src="/public/img/avatar.svg" alt="Image user profile">
                <span class="fw-600">Eladio Rocha</span>
            </div>
            <div class="nav-options p-1em flex-container">
                <a class="mb-2em txt-gray" href="/user/map">Pedir un viaje</a>
                <a class="mb-2em txt-gray txt-selected" href="/user/history">Viajes</a>
                <a class="mb-2em txt-gray" href="/user/profile">Mi cuenta</a>
                <p class="close-session">
                    <hr class="hr mb-1em">
                    <p class="txt-gray" id="close-session">Cerrar sesión</p>
                </p>
            </div>
        </nav>
        <section class="grid-item-profile">
            <div class="profile-title pt-2em px-1em history-navbar">
                <span class="fw-600 mr-2em history-navbar-text txt-selected">Comunidad</span>
                <span class="fw-600 mr-2em history-navbar-text">Activos</span>
                <span class="fw-600 mr-2em history-navbar-text">Pendientes</span>
                <span class="fw-600 mr-2em history-navbar-text">Finalizados</span>
                <span class="fw-600 mr-2em history-navbar-text">Peticiones</span>
            </div>
            <div class="profile-title p-1em flex-container">
                <h2 id="history-title">Viajes proximos de la comunidad</h2>
            </div>
            <div class="p-1em" id="subtitle"></div>
            
            <!-- card -->

            <div id="container-cards"></div>
            
         </section>
    </main>
    <div id="toast"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js"></script>
    <script src="http://localhost:3000/socket.io/socket.io.js"></script>
    <script src="/public/js/socket.js"></script>
    <script src="/public/js/utilities.js"></script>
    <script src="/public/js/history.js"></script>
</body>
</html>
