<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Perfil</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/public/css/index.css">
    <!-- <link rel="stylesheet" href="public/CSS/estilos.css"> -->
</head>
<body>
    <main class="profile-container grid-container">
        <nav class="grid-item-nav">
            <div class="nav-user p-1em flex-container">
                <img src="/public/img/avatar.svg" alt="Image user profile">
                <span class="fw-600">Eladio Rocha</span>
            </div>
            <div class="nav-options p-1em flex-container">
                <p class="mb-2em">Pedir un viaje</p>
                <p class="mb-2em">Viajes</p>
                <p class="mb-2em txt-selected">Mi cuenta</p>
                <p class="close-session">
                    <hr class="hr mb-1em">
                    <p class="txt-gray">Cerrar sesión</p>
                </p>
            </div>
        </nav>
        <section class="grid-item-profile">
            <div class="profile-title p-1em flex-container">
                <h2>Tus viajes</h2>
            </div>
            <div class="profile-options p-1em grid-container">

                <section>
                    <!-- card -->
                    <div class="profile-description-container">
                        <div class="grid-item-description"><!--viaje 1-->
                          <div class="card">
                            <small id="card">27 Noviembre 2019  - 12:45 pm</small><br>
                            <small id="card1">Tu viaje con Eladio</small><br>
                            <i class="fas fa-map-marker-alt svg_card"></i>
                            <small id="card2">Av. de las Ciencias</small><br>
                            <i class="fas fa-map-marked svg_card"></i>
                            <small id="card3">Circuito Universitario</small>
                            <p></p>

                          </div>
                        </div>
                      </div>
                  </section>
                </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js"></script>
    <script src="/public/js/input-effect.js"></script>
</body>
</html>
