<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Motum</title>
  <link rel="stylesheet" href="/public/css/index.css">
</head>
<body>
  <nav>
    <div class="nav-container flex-container">
      <h4 class="nav-text">Motum</h4>
      <button class="btn nav-text bg-green">
        <a class="txt-white" href="login">Iniciar sesión</a>
      </button>
    </div>
  </nav>
  <main class="main-container grid-container">
    <div class="grid-item-section-left">
      <div class="section-left-content">
        <h2 class="mb-1em txt-blue">Lorem ipsum dolot sit armet adpiscing lorem ipsum.</h2>
        <p class="mb-1em txt-blue">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        <button class="btn btn-big bg-green">
          <a class="txt-1-dot-5em txt-white" href="login" >Entrar</a>
        </button>
      </div>
    </div>

    <div class="grid-item-section-right">
      <div class="section-right-content"></div>
    </div>

    <div class="grid-item-section-benefits grid-container">
      <div class="grid-item-title">
        <h2 class="txt-blue">Lorem ipsum dolot asit emet.</h2>
      </div>
      <div class="grid-item-benefit-1">
        <div class="benefit-img"></div>
        <p class="txt-blue mt-1em">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque dolores dolor minima accusantium omnis iste voluptas, accusamus pariatur natus vitae quis temporibus optio adipisci maxime est molestiae numquam modi fuga.</p>
      </div>
      <div class="grid-item-benefit-2">
        <div class="benefit-img"></div>
        <p class="txt-blue mt-1em">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet veritatis, tenetur, alias amet inventore id consectetur delectus libero rem eaque cum nulla minima iste temporibus voluptatem iusto eius tempora perspiciatis!</p>
      </div>
      <div class="grid-item-benefit-3">
        <div class="benefit-img"></div>
        <p class="txt-blue mt-1em">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias similique dolorem inventore, excepturi maxime accusamus perspiciatis consectetur iure nihil ullam, quo tenetur deleniti voluptatum eum reiciendis id ab. Pariatur, asperiores.</p>
      </div>
    </div>
  </main>

  <footer class="bg-blue">
    <div class="footer-container flex-container bg-blue">
      <span class="txt-white">Motum. Todos los derechos reservados.</span>
    </div>
  </footer>
</body>
</html>