<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Motum</title>
  <link rel="stylesheet" href="/public/css/index.css">
</head>
<body>
  <nav>
    <div class="nav-container flex-container">
      <h4 class="nav-text">Motum</h4>
      <button class="btn nav-text bg-green">
        <a class="txt-white" href="login">Iniciar sesión</a>
      </button>
    </div>
  </nav>
  <main class="main-container grid-container">
    <div class="grid-item-section-left">
      <div class="section-left-content">
        <h2 class="mb-1em txt-blue">Facilidad para la Facultad, muevete con nosotros rapido y sencillo </h2>
        <p class="mb-1em txt-blue">Selecciona tu viaje cuando Termines tus clases</p>
        <button class="btn btn-big bg-green">
          <a class="txt-1-dot-5em txt-white" href="login" >Entrar</a>
        </button>
      </div>
    </div>

    <div class="grid-item-section-right">
      <div class="section-right-content"></div>
    </div>

    <div class="grid-item-section-benefits grid-container">
      <div class="grid-item-title">
        <h2 class="txt-blue">Puedes elegir entre conductor y pasajero.</h2>
      </div>
      <div class="grid-item-benefit-1">
        <div class="benefit-img img1"></div>
        <p class="txt-blue mt-1em">Elije la hora y parada y comienza el viaje</p>
      </div>
      <div class="grid-item-benefit-2">
        <div class="benefit-img img2"></div>
        <p class="txt-blue mt-1em">Facilidad y rapidez que el camion de la UAQ,<br> y sin esperar mucho tiempo</p>
      </div>
      <div class="grid-item-benefit-3">
        <div class="benefit-img img3 ">
        </div>
        <p class="txt-blue mt-1em">Viaja con con nuestra pagina, facil y rapido de usar.</p>
      </div>
    </div>
  </main>

  <footer class="bg-blue">
    <div class="footer-container flex-container bg-blue">
      <span class="txt-white"></span>
    </div>
  </footer>
</body>
</html>
