<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Perfil</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/public/css/index.css">
</head>
<body>
    <main class="profile-container grid-container">
        <nav class="grid-item-nav">
            <div class="nav-user p-1em flex-container">
                <img src="/public/img/avatar.svg" alt="Image user profile">
                <span class="fw-600">Eladio Rocha</span>
            </div>
            <div class="nav-options p-1em flex-container">
                <a class="mb-2em txt-gray" href="/user/map">Pedir un viaje</a>
                <a class="mb-2em txt-gray" href="/user/history">Viajes</a>
                <a class="mb-2em txt-selected" href="/user/profile">Mi cuenta</a>
                <p class="close-session">
                    <hr class="hr mb-1em">
                    <p class="txt-gray" id="close-session">Cerrar sesión</p>
                </p>
            </div>
        </nav>
        <section class="grid-item-profile">
            <div class="profile-title p-1em flex-container">
                <h2>Información de usuario</h2>
            </div>
            <div class="profile-options p-1em profile-description-container grid-container">
                <div class="grid-item-description">
                    <h4 class="mb-1em">Información principal</h4>
                    <p>En esta sección se muestra tu Información de usuario, también pueden ser cambiadas sobreescribiendo las cajas de texto.</p>
                    <h4 class="mt-3em" style="display: none;">Activa tu perfil como conductor</h4>
                    <p style="display: none;">¿Deseas colaborar con la plataforma siendo conductor? ¿Qué esperas? Solo activa</p>
                    <div class="mt-1em" style="display: none;">
                        <input type="checkbox" id="driver"> Conductor
                    </div>
                </div>
                <div class="grid-item-input">
                    <div class="input-div one">
                        <div class="i flex-container">
                            <i class="fas fa-user"></i><!--clase i icono -->
                        </div>
                        <div>
                            <h5>Expediente</h5>
                            <input class="input" type="text" id="profile-expedient">
                        </div>
                    </div>
                    <div class="input-div two">
                        <div class="i flex-container">
                            <i class="fas fa-lock"></i>
                        </div>
                        <div>
                            <h5>NIP</h5>
                            <input class="input" type="password" id="profile-nip">
                        </div>
                    </div>
                    <!--  --><br>
                    <div class="input-div one">
                        <div class="i flex-container">
                            <i class="fas fa-user"></i>
                        </div>
                        <div>
                            <h5>Nombre</h5>
                            <input class="input" type="text" id="profile-name">
                        </div>
                    </div>
                    <!--  -->
                    <div class="input-div one">
                        <div class="i flex-container">
                            <i class="fas fa-at"></i>
                        </div>
                        <div>
                            <h5>Correo</h5>
                            <input class="input" type="email" id="profile-email">
                        </div>
                    </div>

                    <div>
                        <div>
                            <button class="btn bg-green txt-white">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js"></script>
    <script src="/public/js/utilities.js"></script>
    <script src="/public/js/profile.js"></script>
    <script src=""></script>
</body>
</html>
